[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dwag3
[access "refs/for/refs/*"]
	read = group user/dwag3
	push = group user/dwag3
	label-Code-Review = -2..+2 group user/dwag3
	label-Verified = -1..+1 group user/dwag3
	rebase = group user/dwag3
	removeReviewer = group user/dwag3
	submit = group user/dwag3
[access "refs/heads/*"]
	read = group user/dwag3
	create = group user/dwag3
	push = +force group user/dwag3
	pushMerge = group user/dwag3
[access "refs/tags/*"]
	push = +force group user/dwag3
	pushTag = group user/dwag3
	pushSignedTag = group user/dwag3
